<%

var styles = require('./index.css');

var header = require('./components/header');
var graphPaper = require('./components/graph-paper');
var infographic = require('./components/infographic');
var divider = require('./components/divider');


var rows = [{
  graphic: require('./content/graphic-1.html'),
  body: require('./content/body-1.md'),
}, {
  graphic: require('./content/graphic-2.html'),
  body: require('./content/body-2.md'),
}, {
  graphic: require('./content/graphic-3.html'),
  body: require('./content/body-3.md'),
}];

%>

<%- graphPaper() %>
<%- header() %>
<style media="screen">
  .page {
    background: white;
    max-width: 1200px;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.22);
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
  }
  .page-title {
    padding-left: 2rem;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
  }
</style>
<div class="page">
  <div class="row middle-xs">
    <div class="col-xs-4">
      <h1 class="page-title">Introduction</small></h1>
    </div>
  </div>
  <%- divider() %>
  <%- infographic(rows[0]) %>
  <%- divider() %>
  <%- infographic(rows[1]) %>
  <%- divider() %>
  <%- infographic(rows[2]) %>
</div>
