<%

var styles = require('./index.css');

var header = require('./components/header');
var graphPaper = require('./components/graph-paper');
var infographic = require('./components/infographic');
var divider = require('./components/divider');
var team = require('./components/team');

var rows = [{
  graphic: require('./content/graphic-1.html'),
  body: require('./content/body-1.md'),
}, {
  graphic: require('./content/graphic-2.html'),
  body: require('./content/body-2.md'),
}, {
  graphic: require('./content/graphic-3.html'),
  body: require('./content/body-3.md'),
}];
%>

<%- graphPaper() %>
<div class="page">
  <%- header() %>

  <%- divider() %>
  <%- infographic(rows[0]) %>
  <%- divider() %>
  <%- infographic(rows[1]) %>
  <%- divider() %>
  <%- infographic(rows[2]) %>
</div>
<div class="page" style="background: #346; border: 1px solid #DDD; color: white">
  <div class="row center-xs middle-xs">
    <div class="col-xs-3">
      <h4>The Team</h4>
    </div>
    <div class="col-xs-9 start-xs">
      <%- team() %>
    </div>
  </div>
  <%- divider() %>
  <div class="row middle-xs">
    <div class="col-xs-3 center-xs ">
      <h4>Founding Meetings</h4>
    </div>
    <div class="col-xs-3">
      <img style="max-width: 250px" src="/team-all.jpg" alt="" />
    </div>
    <div class="col-xs-3">
      <img style="max-width: 250px" src="/team-all-2.png" alt="" />
    </div>

  </div>
</div>
